
<!DOCTYPE html>
<html lang="es">
<head>
  <title>Prueba</title>
  <style>
    body {
      font-family: sans-serif;
      text-align: center;
    }

    button {
      background-color: #4CAF50;
      border: none;
      color: white;
      padding: 15px 32px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
      margin: 4px 2px;
      cursor: pointer;
      border-radius: 5px;
    }
  </style>
</head>
<body>

  <h1>Prueba</h1>

  <button onclick="window.location.href='/ejercicio1'">Ejercicio 1</button>
  <button onclick="window.location.href='/ejercicio2'">Ejercicio 2</button>

</body>
</html>